modules = ["nodejs-20", "python-3.12", "lua-5.2", "java-graalvm22.3"]
[agent]
expertMode = true
integrations = ["javascript_object_storage:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
CRON_SECRET = "0ab3b8b1a3546ca748685a37398c05a407b84a4d880a3b77c35fbbdaa0ff1b8b"

[userenv.development]
APP_URL = "https://66152dca-4f8c-41b2-b41e-e4bff91b1c17-00-3ooefx2hctsjj.worf.replit.dev"
EMAIL_FROM = "onboarding@resend.dev"

[userenv.production]
APP_URL = "https://coding-question-automation.replit.app/"
EMAIL_FROM = "onboarding@resend.dev"
